@page "{pid}"
@model OnlinePictureStorage.Pages.FileModel
@{
}  

<div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h1 class="mb-3">File Details</h1>
                <form method="post" enctype="multipart/form-data">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="EModel.Date">Date</label>
                        <input type="date" asp-for="EModel.Date" class="form-control" placeholder="@Model.mcapturedate"/>
                        <span asp-validation-for="EModel.Date" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="EModel.Photographer">Photographer</label>
                        <input type="text" asp-for="EModel.Photographer" class="form-control" placeholder="@Model.mphotographer" />
                        <span asp-validation-for="EModel.Photographer" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="EModel.City">City</label>
                        <input type="text" asp-for="EModel.City" class="form-control" placeholder="@Model.mcity" />
                        <span asp-validation-for="EModel.City" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" >Update</button>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-primary" asp-page-handler="Delete">Delete</button>
                    </div>
                    
                </form>
            </div>
        </div>
</div> 